body,html{
    overflow-x: hidden;
}
:root{
    --primary-color :#007bff;
    --heading-font: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: #007bff;
}
#carwash-image{
    object-fit: contain;
}
#about{
    border-radius: 10px;
    }

 #services{
    margin-top: 40px !important;
    padding-top: 10px;
    }

/* phone */
@media screen and (max-width: 767.98px) {
    .navbar-nav {
        align-items: center !important;
    }
    #mobile-button{
        margin-top: 12px;
    }
    #a-one{
        display: none;
    }

}
/* tablet */
@media screen and (min-width:768px) and (max-width:991.98px){
    #int{
        margin-bottom: -25px;
    }
    #para{
        padding-bottom: 20px;
    }
}

/* laptop */
@media screen and (min-width:992px){

}


