body,html{
    font-size: 1em;
    overflow-x: hidden;
}
:root{
    --primary-color :#007bff;
    --heading-font: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-size: 1.5rem;
    font-family: var(--heading-font);
    color: #007bff;
}
#carwash-image{
    object-fit: contain;
}
#about{
       border-radius: 10px;
    }
    
/* phone */
@media screen and (max-width: 767.98px) {
    .navbar-nav {
        align-items: center !important;
    }
    #mobile-button{
        margin-top: 12px;
    }
    #a-one{
        display: none;
    }


}


